/* Пиши стили тут */

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
    display: none;
}

.star {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    content: url("./img/star-empty.png");
}

.star:hover,
.star:hover ~ .star {
    content: url("./img/star.png");
}

.rating input:checked + .star,
.rating input:checked + .star ~ .star {
    content: url("./img/star.png");
}